body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #00008b;
}

.card {
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}
.card h3 {
  color: #ffffff; /* White text */
}
.card h1 {
  color: #ffffff; /* White text */
}
/* background-color: #333333; Dark grey background */
